.single-item {
  margin: 0 auto;
  padding: 50px 0;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 1024px) {
    padding: 30px 0;
    flex-direction: column;
    width: 100%;
  }

  &-info {
    margin: 0 auto;
    width: 500px;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  &-name {
    margin: 20px 0;
    text-align: center;
    font-size: 30px;
  }

  &-value {
    margin: 20px 10px;
    padding: 10px 5px 34px 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    &-on-sale {
      position: relative;
      color: #04c000;
      font-size: 20px;
      font-weight: bold;
      z-index: 1;
    }

    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: 600px) {
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }

    &-price {
      font-size: 40px;
    }

    &-sale {
      font-size: 25px;
      text-decoration: line-through red;

      @media screen and (max-width: 600px) {
        font-size: 30px;
      }
    }

    &-buttons {
      display: flex;
    }

    &-buy {
      width: 130px;
      height: 60px;
      border: 0;
      border-radius: 10px 0px 0px 10px;
      background-color: #04c000;
      font-size: 35px;
      font-weight: bold;
      color: white;
      transition: 0.3s;
      cursor: pointer;

      @media screen and (max-width: 600px) {
        width: 150px;
        height: 60px;
      }
    }

    &-buy:hover {
      font-size: 40px;
    }

    &-cart {
      width: 60px;
      height: 60px;
      background-color: black;
      border-radius: 0px 10px 10px 0px;
      border: 0;
      cursor: pointer;

      @media screen and (max-width: 600px) {
        width: 80px;
        height: 60px;
      }

      &-img {
        width: 60%;
        transition: 0.3s;
      }

      &-img:hover {
        width: 70%;
      }
    }
  }

  &-description {
    margin: 0px 15px;

    &-text {
      font-weight: bold;
      font-size: 25px;
    }
  }

  &-border {
    border-top: 2px dashed #000000;
    margin: 20px 10px;
  }

  &-payments {
    .payments-card {
      width: 80px;
      padding: 5px;

      @media screen and (max-width: 600px) {
        width: 15%;
      }
    }
  }
}

.wrapper {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.frame {
  display: flex;
  align-items: center;
  width: 500px;
  height: 500px;
  overflow: hidden;

  @media screen and (max-width: 600px) {
    width: 90%;
    height: 90%;
  }
}

.box-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.box {
  box-sizing: border-box;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.arrow-container {
  position: absolute;
  z-index: 1;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 600px) {
    width: 90%;
    height: 90%;
  }
}

.arrow {
  opacity: 0.5;
  color: #fff;
  width: 50px;
  text-align: center;
  margin: 10px;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover {
  opacity: 1;
}
